body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-image: url("../images/green_donation_draw.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(143, 143, 143);
    text-align: left;
    padding: 100px 50px;
}

header h1, header p {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    font-weight: bolder;
    padding-left: 50px;
}

header h1:hover, header p:hover {
    transform: scale(1.05); 
    color: #2c3e50;
}

.recommended-projects, .project-list {
    margin: 20px;
    margin-bottom: 30px;
    padding: 25px 35px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.recommended-projects h2, .project-tags h2{
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.project-container {
    overflow-x: auto;
    display: flex;
    cursor: grab;
    user-select: none;
}

.project-scroll {
    display: flex;
    gap: 30px;
}

.project-card {
    background: #01377D;
    border: solid 2px black;
    border-radius: 10px;
    width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.project-card h3 {
    font-size: 25px;
    font-weight: bold;
}

.project-card p {
    font-size: medium;
}

.project-info h3{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}

.project-info img{
    width: 350px;
    height: 220px;
}

.project-info p:first-of-type {
    padding-top: 20px;
    font-size: 18px;
}

.project-info p{
    color: white;
    text-align: start;
    font-size: 16px;
}

.stars {
    color: yellow;
    font-size: 25px;
    text-align: left; 
    display: block; 
}

.topics {
    display: inline-block;
    padding: 10px 10px;
    font-size: 12px;
    margin: 20px 0px 20px 0px;
    color: black;
    background-color: yellow;
    text-decoration: none;
    border-radius: 50px;
}

.topics:hover {
    background-color: rgb(183, 231, 249) ; 
    color: black; 
}

.project-container::-webkit-scrollbar {
    display: none;
}

.donate-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    background-color: #26B170; 
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ;
    align-self: center; 
}

.donate-btn:hover {
    color: black;
    transform: scale(1.05);
}


.tags-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 5px;
}

.tag {
    background: #01377D;
    color: white;
    font-size: 17px;
    padding: 10px 15px;
    border: solid 2px black;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.tag:hover {
    background: yellow;
    color: black;
}

.tag.active {
    background: yellow;
    color: black;
}

.project-tags{
    margin: 20px;
    margin-bottom: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 25px 45px;
}

.project-item {
    width: 100%;
    background: rgb(183, 231, 249);
    padding: 20px;
    margin: 20px 0px 30px 0px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-item:hover {
    transform: scale(1.03);
}

.project-item .refresh-icon{
    font-size: 25px;
    margin-left: 25px;
    cursor: pointer;
}

.project-item .refresh-icon:hover{
    color: red;
}


.project-item div h3 {
    font-size: 30px;
    font-weight: bold;
}

.project-item img {
    width: 100%; 
    height: auto; 
    max-width: 300px;
    margin-left: 30px;
}


